$columns: 12;
$containerWidth: 1352px;
$gutter: 15px;

$main-color: #08A6E4;
$background-color: #F7F7F7;
$shadow-color: #00000029;
$secondary-color: #A5A5A5;

$openSans-fontfamily: 'Open Sans', sans-serif;
$raleway-fontfamily: 'Raleway', sans-serif;